extends ./layouts/common.pug

block content
    h1 Hello #{name}
    a.btn.btn-warning(href="/users" style="text-decoration: none" ) users 
    p &nbsp
    img(src="/images/aaa.JPG" , style=" width :200px")