extends ../layouts/common.pug

block content
    h1 
      span.mr-3 Users

    
      a.btn.btn-primary(href="/users/create" style=" text-decoration: none") New

    .d-flex.align-item-center
      form.ml-auto(action="/users/search" method="GET" class="d-flex" )
        input(type="text", name="q" ,  class="form-control " )
        button(class="btn btn-outline-warning ml-2") search
      
    table.table
      tr
        th Avatar
        th Name
        th Phone 
        th Action
      each user in users
        tr 
          td 
            img(src=user.avatar , width="54", height="50px" , style=" border-radius:50%; ")
          td= user.name   
          td= user.phone   
          td
            a.btn.btn-light(href='/users/' + user.id ,style=" text-decoration: none") View




